.login-container {
  min-height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Card */
.login-card {
  width: 100%;
  max-width: 380px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 16px;
  color: white;
  animation: fadeUp 0.7s ease;
}


.login-card {
  width: 100%;
  max-width: 380px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 16px;
  color: white;
  animation: fadeUp 0.7s ease;
}

.login-title{
  color: white;
  text-align: center;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 5px;
  
}

.login-card p {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #ffffff;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.form-group input:focus {
  border-color: #ff9800;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg, #ff9800, #ff5722);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #e68900;
}

.login-footer {
  margin-top: 15px;
  text-align: center;
}

.login-footer span {
  color: #ff9800;
  font-weight: bold;
  cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 480px) {
  .login-card {
    padding: 20px;
  }
}
/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
