.register-container {
  min-height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card */
.register-card {
  width: 100%;
  max-width: 380px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 16px;
  color: white;
  animation: fadeUp 0.7s ease;
}

.subtitle{
  text-align: center;
}

/* Title */
.register-card h2 {
  text-align: center;
  color: #ffb74d;
}

/* Inputs */
.register-card input {
  width: 100%;
  padding: 12px;
  margin: 14px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* Button */
.register-card button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg, #ff9800, #ff5722);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.register-card button:hover {
  transform: translateY(-3px);
}

/* Message */
.message {
  text-align: center;
  margin-top: 15px;
}

/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
